@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Telex&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family:  'Roboto', sans-serif;
    max-width: 1000px;
    margin: auto;
    padding: 30px 10px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    font-family: 'Telex', sans-serif;
    background-color: grey;
}

h2 {
    font-weight: 900 !important;
    font-size: xx-large !important;
    text-align: center;
}

#timer h3 {
    font-size: xx-large !important;
    font-weight: 900 !important;
}

strong {
    color: #ffe72a;
}

footer {
    background-color: black;
    color: white;
}

.btn {
    font-weight: 900;
    border: 2px solid white;
    padding: 10px 0;
    width: 90%;
    border-radius: 50px;
    margin: auto;
    animation: 2s linear 1s infinite running pulse;
}


.btn:hover {
    transform: scale(1.05);
    animation-play-state: paused;
    
    
}

/* #carouselExampleControls,
.carouse-inner,
.carousel-item {
    min-height: 500px;
} */

.carousel-item img {
    max-width: 100%;
}

#carouselExampleControls img {
    max-height: 500px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

